aio-pika==9.0.4
aiofiles==23.1.0
aiomisc==17.0.6
aiormq==6.7.3
amqp==5.1.1
ansicolors==1.1.8
appnope==0.1.3
asttokens==2.2.1
attrs==22.1.0
backcall==0.2.0
blinker==1.5
build==0.10.0
CacheControl==0.12.11
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.1.1
cleo==2.0.1
click==8.1.3
click-default-group==1.2.2
colorlog==6.7.0
comm==0.1.2
crashtest==0.4.1
cycler==0.11.0
debugpy==1.6.6
decorator==5.1.1
distlib==0.3.6
dulwich==0.21.3
ergo==0.11.3
executing==1.2.0
falcon==3.1.1
filelock==3.9.0
Flask==2.2.3
fonttools==4.38.0
graphviz==0.20.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
html5lib==1.1
hypercorn==0.14.3
hyperframe==6.0.1
idna==3.4
importlib-metadata==6.0.0
installer==0.6.0
ipykernel==6.21.2
ipython==8.11.0
itsdangerous==2.1.2
jaraco.classes==3.2.3
jedi==0.18.2
Jinja2==3.0.3
jsons==1.6.3
jsonschema==4.17.3
jupyter_client==8.0.3
jupyter_core==5.2.0
keyring==23.13.1
kiwisolver==1.4.4
kombu==5.2.4
lockfile==0.12.2
manifoldpy @ git+https://github.com/habakukhain/manifoldpy@9e97a15af1b0000ee96d00365c91a42537d09b1f
MarkupSafe==2.1.2
matplotlib==3.5.2
matplotlib-inline==0.1.6
more-itertools==9.1.0
msgpack==1.0.4
multidict==6.0.4
mypy-extensions==1.0.0
nest-asyncio==1.5.6
numpy==1.24.2
packaging==23.0
pamqp==3.2.1
pandas==1.5.1
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pika==1.3.1
Pillow==9.4.0
pkginfo==1.9.6
platformdirs==2.6.2
poetry==1.4.0
poetry-core==1.5.1
poetry-plugin-export==1.3.0
priority==2.0.0
prompt-toolkit==3.0.38
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
pydash==6.0.2
Pygments==2.14.0
pyparsing==3.0.9
pyproject_hooks==1.0.0
pyrsistent==0.19.3
python-dateutil==2.8.2
pytz==2022.7.1
PyYAML==6.0
pyzmq==25.0.0
quart==0.18.3
rapidfuzz==2.13.7
requests==2.28.1
requests-toolbelt==0.10.1
scipy==1.9.3
shellingham==1.5.0.post1
six==1.16.0
stack-data==0.6.2
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
tornado==6.2
traitlets==5.9.0
trove-classifiers==2023.2.20
typish==1.9.3
urllib3==1.26.14
vine==5.0.0
virtualenv==20.20.0
wcwidth==0.2.6
webencodings==0.5.1
Werkzeug==2.2.3
wsproto==1.2.0
xattr==0.10.1
yarl==1.8.2
zipp==3.15.0
